
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: crimson; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, crimson, rgb(238, 150, 18));
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 3px 3px black;
  border-style: inset;
  border-color: black;
  background: linear-gradient(black, rgb(238, 150, 18));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

